
    <div class="card shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                {{phone.tphContactType +' '+phone.tphExtension}}
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    <i class="fa fa-lg fa-phone text-success fa-flip-horizontal"></i>

                </div>
              </div>
              <div class="col">
                <div class=" font-weight-bold mr-2">
                    {{phone.tphCountryPrefix+' '+phone.tphNumber}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fa fa-lg fa-trash text-danger hover-effect" (click)="fireDeleteEntityPhoneEvent()" role="button"></i>
          </div>
        </div>
      </div>
    </div>