

<div class="p-3">
    <div class="row  my-3">
        <div class="col-md-4">
            <h3 class="">Entities</h3>


        
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 w-100 navbar-search">
                <div class="input-group">
                  <input type="text" [(ngModel)]="searchText" (keyup)="searchEntities()" name="searchText" class="form-control bg-light border-0 small" placeholder="Search for entity"  >
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <button routerLink="/user/entities/add" class="btn btn-success p-2 mr-2">New Entity<i class="fa fa-puls"></i>
            </button>
        </div>
    </div>
    
    
    <div class="rounded-lg shadow">
        <table class="table  p-3 mb-5 bg-white ">
            <thead class="">
                <tr class="text-uppercase">
                    <th>id</th>
                    <th>name</th>
                    <th>commercia lName</th>
                    <th>business</th>
                    <th>phones</th>
                    <th>addresses</th>
                    <th>directors</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of entities;">  
                    <td>{{entity.id}}</td>  
                    <td>{{entity.name}}</td>  
                    <td>{{entity.commercialName}}</td>  
                    <td>{{entity.business}}</td> 
                    <td>
                        <p *ngFor="let phone of entity.phones;">
                            {{phone.tphCountryPrefix}}{{phone.tphNumber}}
                        </p>
                    </td>
    
                    <td>
                        <div *ngFor="let address of entity.addresses;">
                            <p>{{address.countryCode}}</p>
                            {{address.address}} in {{address.city}}
                        </div>
                    </td>
                    <td>
                        {{entity.directors.length}} director
                        <div *ngFor="let person of entity.directors;">
                            <p>{{person.title}}.{{person.firstName}} {{person.lastName}}</p>
                        </div>
                    </td>
                    <td>
                        <a [routerLink]="['/user/entities/',entity.id,'edit' ]" class="btn btn-sm btn-primary p-2 mr-2" ><i class="fa fa-edit"></i></a>
                        <button class="btn btn-sm btn-danger p-2" (click)="deleteEntity(entity.id)"><i class="fa fa-trash"></i></button>
                    </td> 
                </tr>  
            </tbody>
        </table>
    
    </div>
  
    <div class="row d-flex justify-content-end">
        <div class="col-md-6">
           

           <!--  <button *ngFor="let i of totalPages | demoNumber" (click)="changePageNum(i)" class="col-md-1 btn btn-sm btn-primary mr-1">
                {{i+1}}
            </button> -->
            <button  (click)="getPage(pageNum-1)" class="col-md-1 btn btn-sm btn-primary mr-1">
                <i class="fa fa-angle-left"></i>
            </button>
            <button  (click)="getPage(pageNum+1)" class="col-md-1 btn btn-sm btn-primary mr-1">
                <i class="fa fa-angle-right"></i>
            </button>
        </div>
        
    </div>
    
</div>