

<div class="p-3">
    <div class="row  my-3">
        <div class="col-md-4">
            <h3 class="">Entities</h3>


        
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 w-100 navbar-search">
                <div class="input-group">
                  <input type="text" [(ngModel)]="searchText" (keyup)="searchInResultEntities()" name="searchText" class="form-control bg-light border-0 small" placeholder="Search for entity"  >
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <button 
                [routerLink]="['/user/entities/form']"
                [queryParams]="{
                    mode:'create'
                }" 
                class="btn btn-success p-2 mr-2 ">New Entity<i class="fa fa-puls"></i>
            </button>
        </div>
    </div>
    
    
    <div class="rounded-lg shadow min-height-600">
        
        <div class="row p-3 d-flex justify-content-center">
            <div class="form-group col-md-2">
                <label class="form-label">Name</label>
                <input [(ngModel)]="searchName" type="text" name="searchName" class="form-control" >
            </div>

            <div class="form-group col-md-2">
                <label class="form-label">commercia Name</label>
                <input [(ngModel)]="searchCommercialName" type="text" name="searchCommercialName" class="form-control" >
            </div>

            <div class="form-group col-md-2">
                <label class="form-label">Phone</label>
                <input [(ngModel)]="searchPhone" type="text" name="searchPhone" class="form-control" >
            </div>
            <div class="form-group col-md-2">
                <label class="form-label">search</label>
                <button type="button" class="btn btn-primary form-control" (click)="search()">search</button>
            </div>
            
        </div>
        <table class="table  p-3 mb-5 bg-white">
            <thead class="">
                <tr class="text-uppercase">
                    <th>id</th>
                    <th>name</th>
                    <th>commercia lName</th>
                    <th>business</th>
                    <th>phones</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of filterdEntities;">  
                    <td>{{entity.id}}</td>  
                    <td>{{entity.name}}</td>  
                    <td>{{entity.commercialName}}</td>  
                    <td>{{entity.business}}</td> 
                    <td>
                        <p *ngFor="let phone of entity.phones;">
                            {{phone.tphCountryPrefix}}{{phone.tphNumber}}
                        </p>
                    </td>
    
                   <!--  <td>
                        <div *ngFor="let address of entity.addresses;">
                            <p>{{address.countryCode}}</p>
                            {{address.address}} in {{address.city}}
                        </div>
                    </td> -->
                    
                    <td>
                        <a 
                        [routerLink]="['/user/entities/form']"
                        [queryParams]="{
                            mode: 'edit',
                            entityId: entity.id
                        }"
                        
                        class="btn btn-sm btn-primary p-2 mr-2" ><i class="fa fa-edit"></i></a>
                        <button class="btn btn-sm btn-danger p-2" (click)="deleteEntity(entity.id)"><i class="fa fa-trash"></i></button>
                    </td> 
                </tr>  
            </tbody>
        </table>
    
    </div>
  
    <div class="row d-flex justify-content-start mt-2">
        <div class="col-md-6 ">
            
            <button  (click)="getPage(0)" class="btn  btn-light mr-1">
                <i class="fa fa-angle-left"></i>
            </button>



            <button *ngFor="let i of totalPages | demoNumber" (click)="changePageNum(i)" class="btn  mr-1"
                [ngClass]="{
                    'btn-shadow' : i===pageNum,
                }"
                >
                {{i+1}}
            </button>
            
            
            
            
            
            
            <button  (click)="getPage(pageNum+1)" class="btn btn-light mr-1">
                <i class="fa fa-angle-right"></i>
            </button>
            <select  [(ngModel)]="pageSize" (change)="changePageSize(pageSize)" name="pageNum" class=" btn btn-outline-secondary col-md-1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="500">500</option>
            </select>
        </div>
        
    </div>
    
</div>