.rounded-lg {
    border-radius: 50px;
}

.modal-backdrop.show {
    z-index: 999 !important;
}

.min-height-600 {
    min-height: 600px;
}

.hover-effect {
    transition: 0.3s;
}

.hover-effect:hover {
    opacity: 0.8;
}


.btn-shadow {
    box-shadow: 2px 5px 5px #878787;
}
.cursor-pointer{
    cursor: pointer;
  }