<div class="container">



  <!-- Pills content -->
  <div class="tab-content mt-5 p-5 card">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <div *ngIf="hasError" class="alert alert-danger">
          {{errorMessage}}
        </div>

        <div class="form-outline mb-4">
          <label class="form-label">Username</label>

          <input type="username" id="username" name="username" class="form-control" ngModel required
            #emailInput="ngModel" />
          <span *ngIf="!emailInput.valid && emailInput.touched" class="help-block text-danger">Email or username</span>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label">Password</label>

          <input type="password" id="password" name="password" class="form-control" required ngModel
            #passwordInput="ngModel" />
          <span *ngIf="!passwordInput.valid&& passwordInput.touched" class="help-block text-danger">invalid
            password</span>
        </div>


        <button *ngIf="!isLoading"  type="submit"
          class=" btn btn-primary btn-block mb-4">Sign in</button>

        <div *ngIf="isLoading" class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div class="text-center">
          <p>Not a member? <a routerLink="/auth/register">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>