<!-- Sidebar -->
<ul class="navbar-nav bg-white sidebar sidebar-wight accordion border-right" [ngClass]="
  { 
    'toggled': !isOpen,
    'nav-opend': isOpen,
    'nav-close': !isOpen
  }
" style="height: 100% !important" >

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">{{loggedinUser.username}}<sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a routerLink="/user/dashboard" class="nav-link">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Features
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item shadow  m-2 rounded-lg">
    <button class="nav-link " (click)="entitiesIsCollapsed = ! entitiesIsCollapsed"
      [attr.aria-expanded]="entitiesIsCollapsed" aria-controls="collapseExample">
      <div [ngClass]="{'d-flex justify-content-between': isOpen}">
        <div>
          <i class="fas fa-fw fa-building"></i>
          <span>Entities</span>
        </div>
        <div class="text-center" [hidden]="!isOpen">
          <i class="fas fa-fw fa-angle-right rotated-icon" [ngClass]="{'rotate-90': entitiesIsCollapsed}"></i>
        </div>
      </div>
      
    </button>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="!entitiesIsCollapsed">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">entities:</h6>
        <a class="collapse-item" routerLink="/user/entities" routerLinkActive="active">All Entities</a>

        
        <a class="collapse-item" 
        [routerLink]="['/user/entities/form']"
        [queryParams]="{mode: 'create'}"
        routerLinkActive="active">Add</a>
      </div>
    </div>
  </li>

  <li class="nav-item shadow m-2 rounded-lg">
    <button class="nav-link" (click)="directorsIsCollapsed = ! directorsIsCollapsed" 
      [attr.aria-expanded]="directorsIsCollapsed" aria-controls="collapseExample">
      <div [ngClass]="{'d-flex justify-content-between': isOpen}">
        <div>
          <i class="fas fa-fw fa-user"></i>
          <span>Directors</span>
        </div>
        <div class="text-center" [hidden]="!isOpen">
          <i class="fas fa-fw fa-angle-right rotated-icon" [ngClass]="{'rotate-90': directorsIsCollapsed}"></i>
        </div>
      </div>
    </button>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="!directorsIsCollapsed">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">directors:</h6>
        <a class="collapse-item" routerLink="/user/directors" >All Directors</a>
        <a class="collapse-item" routerLink="/user/directors/save" routerLinkActive="active">Add Director</a>
      </div>
    </div>
  </li>



  <!-- Divider -->
  <hr class="sidebar-divider">




</ul>
<!-- End of Sidebar -->
